In [1]:
import pandas as pd
import numpy as np

In [2]:
comment = pd.read_csv('../data/csv/JData_Comment.csv')
product = pd.read_csv('../data/csv/JData_Product.csv')#.set_index("sku_id")
user = pd.read_csv('../data/csv/JData_User.csv')#.set_index("user_id")
product["is_target"] = 1

In [19]:
comment

                dt  sku_id  comment_num  has_bad_comment  bad_comment_rate
0       2016-02-01   83714            4                1            0.0393
1       2016-02-01  125225            3                1            0.0833
2       2016-02-01   76379            4                1            0.0328
3       2016-02-01  150212            1                0            0.0000
4       2016-02-01  123004            2                0            0.0000
5       2016-02-01    2520            2                0            0.0000
6       2016-02-01    6261            0                0            0.0000
7       2016-02-01  126838            4                0            0.0000
8       2016-02-01   50694            2                0            0.0000
9       2016-02-01   29484            1                0            0.0000
10      2016-02-01    4145            1                0            0.0000
11      2016-02-01   32573            4                1            0.0503
12      2016-02-01  131403            1                0            0.0000
13      2016-02-01  109890            3                1            0.0465
14      2016-02-01  164334            3                1            0.0526
15      2016-02-01  167028            2                1            0.5000
16      2016-02-01   25082            3                1            0.1538
17      2016-02-01   80143            2                0            0.0000
18      2016-02-01  114269            3                0            0.0000
19      2016-02-01  111620            4                1            0.0658
20      2016-02-01   41886            0                0            0.0000
21      2016-02-01  114629            1                0            0.0000
22      2016-02-01   54710            1                0            0.0000
23      2016-02-01   73452            0                0            0.0000
24      2016-02-01   70065            0                0            0.0000
25      2016-02-01   74100            0                0            0.0000
26      2016-02-01   22839            2                0            0.0000
27      2016-02-01  137273            1                0            0.0000
28      2016-02-01  135184            1                0            0.0000
29      2016-02-01  115403            4                1            0.0235
...            ...     ...          ...              ...               ...
558522  2016-03-07   58035            4                1            0.0476
558523  2016-03-07  140889            4                1            0.0162
558524  2016-03-07  126784            4                1            0.0221
558525  2016-03-07   50755            4                1            0.0187
558526  2016-03-07  150268            2                1            0.3333
558527  2016-03-07   56134            3                0            0.0000
558528  2016-03-07   62562            4                1            0.0658
558529  2016-03-07   26257            4                1            0.0275
558530  2016-03-07   83093            4                1            0.0278
558531  2016-03-07  106139            4                1            0.0261
558532  2016-03-07  127766            1                0            0.0000
558533  2016-03-07   39061            2                1            0.5000
558534  2016-03-07   23938            2                0            0.0000
558535  2016-03-07   53794            2                0            0.0000
558536  2016-03-07  131617            4                1            0.0262
558537  2016-03-07   33468            4                1            0.0284
558538  2016-03-07  134406            4                1            0.0230
558539  2016-03-07   15282            4                1            0.0171
558540  2016-03-07  149479            3                1            0.0455
558541  2016-03-07   27178            3                1            0.0714
558542  2016-03-07   48767            4                1            0.0281
558543  2016-03-07  148425            2                1            0.1000
558544  2016-03-07   93873            2                1            0.1000
558545  2016-03-07  168788            4                1            0.0266
558546  2016-03-07   71270            4                1            0.0490
558547  2016-03-07  145161            4                1            0.0217
558548  2016-03-07   56901            4                1            0.0198
558549  2016-03-07   38128            4                1            0.0353
558550  2016-03-07  110813            1                0            0.0000
558551  2016-03-07  112327            1                0            0.0000

[558552 rows x 5 columns]

In [45]:
user

        user_id     age  sex  user_lv_cd user_reg_dt
0            54      -1    2           1   2016/1/26
1            79  36-45岁    2           2   2016/1/27
2           100  16-25岁    2           3   2016/1/27
3           266   15岁以下    2           2   2016/1/29
4           333      -1    2           4   2016/1/30
5           605  26-35岁    2           2    2016/2/1
6           638  26-35岁    0           5   2010/8/12
7           686      -1    2           1    2016/2/1
8           692  16-25岁    2           2    2016/2/1
9           819  26-35岁    2           3    2016/2/2
10          861  36-45岁    2           3    2016/2/2
11         1204      -1    2           1    2016/2/7
12         1331      -1    2           1    2016/2/8
13         1334  26-35岁    2           2    2016/2/8
14         1394  36-45岁    2           2    2016/2/9
15         1422  26-35岁    2           3   2016/2/10
16         1442      -1    0           5   2010/8/16
17         1598      -1    2           1   2016/2/12
18         1665  36-45岁    2           2   2016/2/13
19         1847      -1    2           1   2016/2/14
20         1892      -1    2           1   2016/2/14
21         1988  16-25岁    1           3   2016/2/15
22         2002  26-35岁    0           4   2013/4/23
23         2048  26-35岁    2           4   2016/2/16
24         2072  36-45岁    0           3   2016/2/16
25         2078  36-45岁    2           2   2016/2/16
26         2079      -1    2           1   2016/2/16
27         2189  26-35岁    2           3   2016/2/17
28         2231  26-35岁    0           5   2013/4/24
29         2276  36-45岁    1           5   2010/8/17
...         ...     ...  ...         ...         ...
103586    84620  36-45岁    2           4   2015/7/20
103587    84824  36-45岁    0           4   2008/9/14
103588    85091  36-45岁    0           5  2006/10/27
103589    85991  26-35岁    0           5   2010/5/31
103590    86920  36-45岁    2           3   2015/8/18
103591    87235  26-35岁    0           4    2010/6/6
103592    91374      -1    2           3   2015/10/8
103593    93721  36-45岁    0           5   2013/1/25
103594    94327  36-45岁    0           4   2013/1/29
103595    94946  26-35岁    2           5   2015/11/7
103596    95232  16-25岁    2           4   2015/11/9
103597    95586  16-25岁    2           4   2013/2/10
103598    95634  36-45岁    2           3  2015/11/10
103599    95762  36-45岁    0           5    2010/7/8
103600    96822      -1    2           3  2015/11/14
103601    97028  26-35岁    2           5   2013/2/26
103602    98058  36-45岁    0           3    2013/3/4
103603    98661  36-45岁    0           5   2010/7/21
103604   100620  26-35岁    2           3  2015/12/26
103605   100745  36-45岁    0           4  2015/12/27
103606   101031  36-45岁    2           3  2015/12/31
103607   101033  36-45岁    2           3  2015/12/31
103608   101193      -1    2           4    2016/1/2
103609   101515  26-35岁    0           5   2013/3/28
103610   101654  26-35岁    2           2    2016/1/6
103611   101903  26-35岁    2           4    2016/1/9
103612   102078  36-45岁    2           4   2016/1/11
103613   102573  36-45岁    0           4    2013/4/4
103614   103402  26-35岁    0           4    2013/4/9
103615   103465  36-45岁    0           3   2016/1/24

[103616 rows x 5 columns]

In [18]:
pd.get_dummies(action02["days"][:10000],prefix = "days")

      days_-20 days +00:00:00  days_-19 days +00:00:00
0                         0.0                      1.0
1                         0.0                      1.0
2                         0.0                      1.0
3                         0.0                      1.0
4                         0.0                      1.0
5                         0.0                      1.0
6                         0.0                      1.0
7                         0.0                      1.0
8                         0.0                      1.0
9                         0.0                      1.0
10                        0.0                      1.0
11                        0.0                      1.0
12                        0.0                      1.0
13                        0.0                      1.0
14                        0.0                      1.0
15                        0.0                      1.0
16                        0.0                      1.0
17                        0.0                      1.0
18                        0.0                      1.0
19                        0.0                      1.0
20                        0.0                      1.0
21                        0.0                      1.0
22                        0.0                      1.0
23                        0.0                      1.0
24                        0.0                      1.0
25                        0.0                      1.0
26                        0.0                      1.0
27                        0.0                      1.0
28                        0.0                      1.0
29                        0.0                      1.0
...                       ...                      ...
9970                      0.0                      1.0
9971                      0.0                      1.0
9972                      0.0                      1.0
9973                      0.0                      1.0
9974                      0.0                      1.0
9975                      0.0                      1.0
9976                      0.0                      1.0
9977                      0.0                      1.0
9978                      0.0                      1.0
9979                      0.0                      1.0
9980                      0.0                      1.0
9981                      0.0                      1.0
9982                      0.0                      1.0
9983                      0.0                      1.0
9984                      0.0                      1.0
9985                      0.0                      1.0
9986                      0.0                      1.0
9987                      0.0                      1.0
9988                      0.0                      1.0
9989                      0.0                      1.0
9990                      0.0                      1.0
9991                      0.0                      1.0
9992                      0.0                      1.0
9993                      0.0                      1.0
9994                      0.0                      1.0
9995                      0.0                      1.0
9996                      0.0                      1.0
9997                      0.0                      1.0
9998                      0.0                      1.0
9999                      0.0                      1.0

[10000 rows x 2 columns]

In [21]:
product

       sku_id  attr1  attr2  attr3  cate  brand  is_target
0      166731      1     -1     -1     8    545          1
1      146488      2      2     -1     8    812          1
2       70546      3      1      1     8    214          1
3       92487      2      2     -1     8    812          1
4      113065      2      2     -1     8    812          1
5       80307      2      2     -1     8    812          1
6       71669      2      1     -1     8    812          1
7        4145      2      2      1     8    812          1
8       35450      2      2     -1     8    812          1
9      131403      2      1     -1     8    812          1
10     128621      2      1     -1     8    812          1
11      65347      2      1      2     8    812          1
12      68153      2      1      2     8    812          1
13      77945      2      1     -1     8    812          1
14     167028      2      1     -1     8    812          1
15      14771      2      1      2     8    812          1
16     153408      2      1     -1     8    812          1
17      39874      2      2     -1     8    812          1
18      83454      2      1     -1     8    812          1
19     141684      2     -1      2     8    623          1
20      78125      2      1     -1     8    812          1
21     129840      2      2      2     8    623          1
22      42772      2     -1      2     8    623          1
23      51732      2      1      2     8    623          1
24      61364      2      1     -1     8    812          1
25     162019      2      2      1     8    812          1
26      33786      2      1      2     8    812          1
27      69751      2      2     -1     8    812          1
28      80861      2      1      1     8    812          1
29      35975      2     -1      2     8    812          1
...       ...    ...    ...    ...   ...    ...        ...
24157   20168      2      2      2     8    623          1
24158    7067      2      2     -1     8    623          1
24159   86694      3      2      1     8    214          1
24160  159345      3      1      1     8    214          1
24161  171111      3      2      1     8    214          1
24162   19852      3      1      1     8    214          1
24163   29463      3      2      1     8    214          1
24164   30805      3     -1     -1     8    214          1
24165  167877      3     -1     -1     8    214          1
24166   83586      3     -1     -1     8    214          1
24167   54425      3     -1     -1     8    214          1
24168   26123      3      1      2     8    489          1
24169  127618      3      1      2     8    489          1
24170   64484      3      1     -1     8    306          1
24171   49835     -1     -1     -1     8     49          1
24172  127766      2      1      2     8    623          1
24173   17688      2      1      2     8    623          1
24174  118669      2      1      2     8    124          1
24175  106654      2      1      2     8    124          1
24176   93873      2      1      2     8    124          1
24177  112603      2      2     -1     8    812          1
24178  112739     -1     -1     -1     8    383          1
24179   26059     -1     -1     -1     8    383          1
24180   68696     -1     -1     -1     8    383          1
24181  101664      1      1      2     8    693          1
24182   38128      1      1      1     8    427          1
24183  110813      2      2      1     8    812          1
24184   72751      2      1      1     8    812          1
24185  112327      2      1      1     8    812          1
24186     315      2      2      1     8    812          1

[24187 rows x 7 columns]

In [3]:
action02 = pd.read_csv('../data/csv/JData_Action_201602.csv').sample(5000,replace=False)

In [4]:
action02["timestamp"] = action02["time"].apply(pd.Timestamp)

In [5]:
action02["days"] = action02["timestamp"].apply(lambda x: pd.Timestamp(x.date()) - pd.Timestamp("2016-02-20"))

In [6]:
action02

,user_id,sku_id,time,model_id,type,cate,brand,timestamp,days
4922422,77837,149641,2016-02-12 21:12:55,216.0,6,8,403,2016-02-12 21:12:55,-8 days
2538278,30257,113087,2016-02-06 20:49:44,NaN,1,4,36,2016-02-06 20:49:44,-14 days
2047986,65219,87255,2016-02-04 16:52:59,0.0,6,8,214,2016-02-04 16:52:59,-16 days
13896658,75604,123556,2016-02-24 16:31:09,0.0,6,7,157,2016-02-24 16:31:09,4 days
11071205,16086,97025,2016-02-21 22:52:35,NaN,1,8,885,2016-02-21 22:52:35,1 days
14954883,81830,166707,2016-02-26 23:26:01,NaN,1,8,489,2016-02-26 23:26:01,6 days
15917271,53987,124286,2016-02-27 10:54:57,218.0,6,7,741,2016-02-27 10:54:57,7 days
11152315,81567,160023,2016-02-21 23:05:51,26.0,6,5,225,2016-02-21 23:05:51,1 days
7269439,81639,43405,2016-02-16 11:11:32,NaN,1,6,489,2016-02-16 11:11:32,-4 days
17431087,29223,5505,2016-02-29 23:50:56,NaN,1,8,214,2016-02-29 23:50:56,9 days
2866991,97904,165614,2016-02-07 20:33:23,NaN,1,5,306,2016-02-07 20:33:23,-13 days
5028512,49763,125756,2016-02-12 20:22:53,217.0,6,8,30,2016-02-12 20:22:53,-8 days
4641233,13752,54657,2016-02-12 17:32:00,NaN,1,6,235,2016-02-12 17:32:00,-8 days
7606111,26231,137805,2016-02-16 20:32:28,0.0,6,4,159,2016-02-16 20:32:28,-4 days
3102103,77335,94944,2016-02-08 00:32:14,NaN,1,8,800,2016-02-08 00:32:14,-12 days
4847303,38074,143717,2016-02-12 19:38:17,211.0,6,8,214,2016-02-12 19:38:17,-8 days
992464,40762,38805,2016-02-02 23:26:39,217.0,6,10,36,2016-02-02 23:26:39,-18 days
9853672,40648,166619,2016-02-19 08:43:14,0.0,6,7,79,2016-02-19 08:43:14,-1 days
12971628,25907,160619,2016-02-23 18:56:29,0.0,6,7,427,2016-02-23 18:56:29,3 days
5274730,20226,99944,2016-02-13 13:57:35,NaN,1,7,489,2016-02-13 13:57:35,-7 days
15800145,35168,64197,2016-02-27 11:43:27,NaN,1,7,306,2016-02-27 11:43:27,7 days
4206313,24384,136020,2016-02-11 14:30:57,NaN,1,7,427,2016-02-11 14:30:57,-9 days
11862553,74020,142831,2016-02-22 02:33:38,NaN,1,9,78,2016-02-22 02:33:38,2 days
15196114,38282,143930,2016-02-26 21:48:17,0.0,6,7,587,2016-02-26 21:48:17,6 days
2974677,48739,48990,2016-02-07 20:35:07,0.0,6,4,800,2016-02-07 20:35:07,-13 days
4343585,82639,37957,2016-02-11 10:12:20,NaN,1,8,489,2016-02-11 10:12:20,-9 days
7650928,20515,24371,2016-02-16 20:56:24,0.0,6,8,545,2016-02-16 20:56:24,-4 days
66796,97678,7199,2016-02-01 07:05:07,NaN,1,4,306,2016-02-01 07:05:07,-19 days
17275884,2326,129843,2016-02-29 14:54:39,NaN,1,8,214,2016-02-29 14:54:39,9 days
2301188,56874,2100,2016-02-05 00:02:14,216.0,6,4,800,2016-02-05 00:02:14,-15 days
...,...,...,...,...,...,...,...,...,...
9596891,53319,154636,2016-02-19 09:36:58,NaN,1,8,545,2016-02-19 09:36:58,-1 days
9557791,2160,15259,2016-02-19 22:00:21,NaN,2,8,545,2016-02-19 22:00:21,-1 days
15798703,46719,5621,2016-02-27 12:39:35,NaN,1,7,78,2016-02-27 12:39:35,7 days
1394587,84110,149641,2016-02-03 19:46:57,216.0,6,8,403,2016-02-03 19:46:57,-17 days
2731267,96820,68767,2016-02-06 17:41:22,217.0,6,8,545,2016-02-06 17:41:22,-14 days
13111484,47614,81490,2016-02-23 16:37:39,0.0,6,6,174,2016-02-23 16:37:39,3 days
17067004,96723,85012,2016-02-28 22:37:01,217.0,6,4,675,2016-02-28 22:37:01,8 days
10076463,47235,92712,2016-02-20 15:35:25,NaN,1,6,200,2016-02-20 15:35:25,0 days
9869605,49381,59256,2016-02-19 22:59:57,0.0,6,4,306,2016-02-19 22:59:57,-1 days
13010107,14622,134619,2016-02-23 12:03:50,217.0,6,8,885,2016-02-23 12:03:50,3 days
12070125,58119,14433,2016-02-22 16:03:21,216.0,6,8,30,2016-02-22 16:03:21,2 days
16950787,28700,81591,2016-02-28 01:34:10,0.0,6,10,36,2016-02-28 01:34:10,8 days
17640778,96182,54209,2016-02-29 19:45:44,211.0,6,6,306,2016-02-29 19:45:44,9 days
1788062,39276,45417,2016-02-04 22:03:54,NaN,1,5,655,2016-02-04 22:03:54,-16 days
3723252,35807,165614,2016-02-09 13:02:52,217.0,6,5,306,2016-02-09 13:02:52,-11 days
9951238,23585,119111,2016-02-19 01:32:01,27.0,6,8,214,2016-02-19 01:32:01,-1 days
14485427,34675,60861,2016-02-25 23:45:46,0.0,6,8,489,2016-02-25 23:45:46,5 days
7633824,94400,15921,2016-02-16 00:07:35,0.0,6,8,244,2016-02-16 00:07:35,-4 days
318773,45999,44042,2016-02-01 21:32:03,216.0,6,4,885,2016-02-01 21:32:03,-19 days
2662885,39884,42199,2016-02-06 00:17:02,216.0,6,8,545,2016-02-06 00:17:02,-14 days
8905495,7595,10518,2016-02-18 18:17:32,NaN,1,4,519,2016-02-18 18:17:32,-2 days
5254494,48809,29562,2016-02-13 02:23:41,NaN,1,7,79,2016-02-13 02:23:41,-7 days
1493825,92165,32876,2016-02-03 20:14:52,217.0,6,4,885,2016-02-03 20:14:52,-17 days
11914834,39997,127773,2016-02-22 16:04:08,NaN,1,6,124,2016-02-22 16:04:08,2 days
17766483,102521,159397,2016-02-29 16:01:36,216.0,6,8,214,2016-02-29 16:01:36,9 days
17776823,93279,2100,2016-02-29 08:50:40,0.0,6,4,800,2016-02-29 08:50:40,9 days
9047145,17966,103219,2016-02-18 09:47:24,216.0,6,4,658,2016-02-18 09:47:24,-2 days
4156765,20319,79309,2016-02-10 23:46:54,0.0,6,5,693,2016-02-10 23:46:54,-10 days
17756806,84278,128193,2016-02-29 13:14:33,216.0,6,8,489,2016-02-29 13:14:33,9 days
155422,59417,126535,2016-02-01 20:03:30,NaN,1,8,545,2016-02-01 20:03:30,-19 days

In [ ]:
action02_train = action02[action02["timestamp"]<pd.Timestamp('2015-02-20 00:00:00')]
action02_test = action02[action02["timestamp"]>=pd.Timestamp('2015-02-20 00:00:00')]

In [31]:
action02["act_count"] = 1.0
action02_pivot = pd.pivot_table(action02_2,values="act_count",\
                                index=["user_id","sku_id"],columns=["type"],aggfunc=np.sum)

In [54]:
action02.reset_index()#.set_index(["user_id","sku_id","type"])

,index,user_id,sku_id,time,model_id,type,cate,brand
0,0,27630,37957,2016-02-01 07:43:14,NaN,6,8,489
1,1,65377,165713,2016-02-01 11:09:34,NaN,6,5,124
2,2,10396,65823,2016-02-01 08:20:59,NaN,6,6,78
3,3,65377,165713,2016-02-01 11:09:34,NaN,6,5,124
4,4,10396,65823,2016-02-01 08:20:56,NaN,6,6,78
5,5,10396,65823,2016-02-01 08:21:05,NaN,6,6,78
6,6,97603,63371,2016-02-01 06:39:52,NaN,6,4,519
7,7,58488,18341,2016-02-01 20:36:57,NaN,6,4,36
8,8,88047,12037,2016-02-01 15:16:36,NaN,6,4,752
9,9,65377,165713,2016-02-01 11:10:56,NaN,6,5,124
10,10,47769,95309,2016-02-01 13:18:54,NaN,6,4,658
11,11,58675,158623,2016-02-01 22:27:54,NaN,6,8,677
12,12,85620,19852,2016-02-01 22:41:57,NaN,6,8,214
13,13,97603,63371,2016-02-01 06:39:53,NaN,6,4,519
14,14,62847,46906,2016-02-01 08:24:46,NaN,6,5,489
15,15,58675,158623,2016-02-01 22:27:25,NaN,6,8,677
16,16,28360,37009,2016-02-01 00:49:34,NaN,6,4,581
17,17,56804,75906,2016-02-01 00:10:48,NaN,6,4,752
18,18,28360,37009,2016-02-01 00:49:58,NaN,6,4,581
19,19,64090,95309,2016-02-01 01:03:51,NaN,6,4,658
20,20,56804,75906,2016-02-01 08:36:59,NaN,6,4,752
21,21,97603,63371,2016-02-01 06:41:47,NaN,6,4,519
22,22,97603,63371,2016-02-01 06:41:47,NaN,6,4,519
23,23,64090,95309,2016-02-01 01:03:52,NaN,6,4,658
24,24,99744,95309,2016-02-01 14:43:24,NaN,6,4,658
25,25,99744,95309,2016-02-01 14:43:41,NaN,6,4,658
26,26,50743,125372,2016-02-01 22:12:45,NaN,6,6,235
27,27,99744,95309,2016-02-01 14:43:39,NaN,6,4,658
28,28,95161,90579,2016-02-01 23:26:07,NaN,6,8,766
29,29,95161,90579,2016-02-01 23:26:06,NaN,6,8,766
...,...,...,...,...,...,...,...,...
18117273,18117273,16212,5235,2016-02-29 12:08:47,125.0,6,6,269
18117274,18117274,52891,28159,2016-02-29 10:18:27,0.0,6,7,306
18117275,18117275,48210,30199,2016-02-29 12:54:24,0.0,6,5,159
18117276,18117276,7371,21147,2016-02-29 21:36:32,0.0,6,8,403
18117277,18117277,70334,21147,2016-02-29 20:05:43,0.0,6,8,403
18117278,18117278,40865,92439,2016-02-29 23:54:35,0.0,6,9,78
18117279,18117279,39888,51283,2016-02-29 21:34:08,0.0,6,8,214
18117280,18117280,80862,169819,2016-02-29 21:16:30,0.0,6,8,214
18117281,18117281,9149,149641,2016-02-29 19:22:17,0.0,6,8,403
18117282,18117282,9149,149641,2016-02-29 19:26:07,0.0,6,8,403
18117283,18117283,52210,19454,2016-02-29 21:41:42,0.0,6,9,842
18117284,18117284,9149,46990,2016-02-29 19:23:33,0.0,6,8,403
18117285,18117285,9149,57386,2016-02-29 19:27:43,0.0,6,8,403
18117286,18117286,18154,160476,2016-02-29 10:49:52,0.0,6,8,545
18117287,18117287,9149,21147,2016-02-29 19:15:20,0.0,6,8,403
18117288,18117288,9149,149641,2016-02-29 19:26:49,0.0,6,8,403
18117289,18117289,66525,30972,2016-02-29 19:36:09,0.0,6,6,489
18117290,18117290,9149,149641,2016-02-29 19:20:53,0.0,6,8,403
18117291,18117291,9149,149641,2016-02-29 19:23:42,0.0,6,8,403
18117292,18117292,9149,46990,2016-02-29 19:20:40,0.0,6,8,403
18117293,18117293,9149,142667,2016-02-29 19:15:16,0.0,6,8,403
18117294,18117294,1053,36692,2016-02-29 14:58:32,0.0,6,4,174
18117295,18117295,52210,34293,2016-02-29 21:36:46,0.0,6,9,842
18117296,18117296,9149,21147,2016-02-29 19:19:58,0.0,6,8,403
18117297,18117297,9149,46990,2016-02-29 19:26:31,0.0,6,8,403
18117298,18117298,37220,56409,2016-02-29 19:18:26,0.0,6,4,36
18117299,18117299,1053,131300,2016-02-29 15:01:40,0.0,6,8,693
18117300,18117300,9149,46990,2016-02-29 19:22:30,0.0,6,8,403
18117301,18117301,99022,5977,2016-02-29 09:55:01,0.0,6,6,269
18117302,18117302,9149,57386,2016-02-29 19:27:06,0.0,6,8,403

In [26]:
action02.groupby(["type"])["user_id"].count()

type
1     7117596
2      201905
3       90246
4       12857
5       43865
6    10650834
Name: user_id, dtype: int64

In [27]:
action02_2 = action02\
    .join(product,on="sku_id",how="left",lsuffix = "_act")
action02_2
#action02_2["is_target"].fillna(0,inplace=True)
#action02_2.groupby(["is_target"]).count()

,user_id,sku_id_act,time,model_id,type,cate_act,brand_act,sku_id,attr1,attr2,attr3,cate,brand,is_target
0,27630,37957,2016-02-01 07:43:14,NaN,6,8,489,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,65377,165713,2016-02-01 11:09:34,NaN,6,5,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10396,65823,2016-02-01 08:20:59,NaN,6,6,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,65377,165713,2016-02-01 11:09:34,NaN,6,5,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10396,65823,2016-02-01 08:20:56,NaN,6,6,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10396,65823,2016-02-01 08:21:05,NaN,6,6,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,97603,63371,2016-02-01 06:39:52,NaN,6,4,519,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,58488,18341,2016-02-01 20:36:57,NaN,6,4,36,142059.0,3.0,2.0,2.0,8.0,214.0,1.0
8,88047,12037,2016-02-01 15:16:36,NaN,6,4,752,114643.0,2.0,1.0,2.0,8.0,623.0,1.0
9,65377,165713,2016-02-01 11:10:56,NaN,6,5,124,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,47769,95309,2016-02-01 13:18:54,NaN,6,4,658,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,58675,158623,2016-02-01 22:27:54,NaN,6,8,677,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,85620,19852,2016-02-01 22:41:57,NaN,6,8,214,75734.0,3.0,2.0,1.0,8.0,489.0,1.0
13,97603,63371,2016-02-01 06:39:53,NaN,6,4,519,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,62847,46906,2016-02-01 08:24:46,NaN,6,5,489,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,58675,158623,2016-02-01 22:27:25,NaN,6,8,677,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,28360,37009,2016-02-01 00:49:34,NaN,6,4,581,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,56804,75906,2016-02-01 00:10:48,NaN,6,4,752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,28360,37009,2016-02-01 00:49:58,NaN,6,4,581,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,64090,95309,2016-02-01 01:03:51,NaN,6,4,658,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,56804,75906,2016-02-01 08:36:59,NaN,6,4,752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,97603,63371,2016-02-01 06:41:47,NaN,6,4,519,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,97603,63371,2016-02-01 06:41:47,NaN,6,4,519,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,64090,95309,2016-02-01 01:03:52,NaN,6,4,658,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,99744,95309,2016-02-01 14:43:24,NaN,6,4,658,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,99744,95309,2016-02-01 14:43:41,NaN,6,4,658,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,50743,125372,2016-02-01 22:12:45,NaN,6,6,235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,99744,95309,2016-02-01 14:43:39,NaN,6,4,658,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,95161,90579,2016-02-01 23:26:07,NaN,6,8,766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,95161,90579,2016-02-01 23:26:06,NaN,6,8,766,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18117273,16212,5235,2016-02-29 12:08:47,125.0,6,6,269,31972.0,3.0,1.0,1.0,8.0,594.0,1.0
18117274,52891,28159,2016-02-29 10:18:27,0.0,6,7,306,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117275,48210,30199,2016-02-29 12:54:24,0.0,6,5,159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117276,7371,21147,2016-02-29 21:36:32,0.0,6,8,403,40164.0,3.0,1.0,1.0,8.0,214.0,1.0
18117277,70334,21147,2016-02-29 20:05:43,0.0,6,8,403,40164.0,3.0,1.0,1.0,8.0,214.0,1.0
18117278,40865,92439,2016-02-29 23:54:35,0.0,6,9,78,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117279,39888,51283,2016-02-29 21:34:08,0.0,6,8,214,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117280,80862,169819,2016-02-29 21:16:30,0.0,6,8,214,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117281,9149,149641,2016-02-29 19:22:17,0.0,6,8,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117282,9149,149641,2016-02-29 19:26:07,0.0,6,8,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117283,52210,19454,2016-02-29 21:41:42,0.0,6,9,842,165542.0,3.0,1.0,1.0,8.0,214.0,1.0
18117284,9149,46990,2016-02-29 19:23:33,0.0,6,8,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117285,9149,57386,2016-02-29 19:27:43,0.0,6,8,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117286,18154,160476,2016-02-29 10:49:52,0.0,6,8,545,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117287,9149,21147,2016-02-29 19:15:20,0.0,6,8,403,40164.0,3.0,1.0,1.0,8.0,214.0,1.0
18117288,9149,149641,2016-02-29 19:26:49,0.0,6,8,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117289,66525,30972,2016-02-29 19:36:09,0.0,6,6,489,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117290,9149,149641,2016-02-29 19:20:53,0.0,6,8,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117291,9149,149641,2016-02-29 19:23:42,0.0,6,8,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117292,9149,46990,2016-02-29 19:20:40,0.0,6,8,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117293,9149,142667,2016-02-29 19:15:16,0.0,6,8,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117294,1053,36692,2016-02-29 14:58:32,0.0,6,4,174,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117295,52210,34293,2016-02-29 21:36:46,0.0,6,9,842,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117296,9149,21147,2016-02-29 19:19:58,0.0,6,8,403,40164.0,3.0,1.0,1.0,8.0,214.0,1.0
18117297,9149,46990,2016-02-29 19:26:31,0.0,6,8,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117298,37220,56409,2016-02-29 19:18:26,0.0,6,4,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117299,1053,131300,2016-02-29 15:01:40,0.0,6,8,693,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117300,9149,46990,2016-02-29 19:22:30,0.0,6,8,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18117301,99022,5977,2016-02-29 09:55:01,0.0,6,6,269,135600.0,3.0,1.0,1.0,8.0,489.0,1.0
18117302,9149,57386,2016-02-29 19:27:06,0.0,6,8,403,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
action02_agged.fillna(0,inplace=True)

In [34]:
action02_label = action02_agged[action02_agged[4]>0]

In [35]:
action02_label1 = action02_label[4].to_frame()
action02_label1["ind"] = action02_label1.index
action02_label1[["user_id","sku_id"]] = action02_label1["ind"].apply(pd.Series)
action02_label1 = action02_label1.join(product, on="sku_id",rsuffix="_prod",how = "inner")
action02_label_pos = action02_label1[4].to_frame()
action02_label_pos.columns = ["label"]
action02_label_pos

                 label
user_id sku_id
475     11420.0    1.0
12312   11420.0    1.0
16740   11420.0    1.0
17077   11420.0    1.0
18582   11420.0    1.0
39249   11420.0    1.0
44050   11420.0    1.0
45166   11420.0    1.0
63230   11420.0    1.0
68685   11420.0    1.0
72768   11420.0    1.0
73550   11420.0    1.0
77506   11420.0    1.0
85357   11420.0    1.0
85427   11420.0    1.0
86492   11420.0    1.0
91206   11420.0    1.0
94640   11420.0    2.0
100322  11420.0    1.0
101878  11420.0    1.0
512     20244.0    1.0
11174   20244.0    1.0
15364   20244.0    1.0
16793   20244.0    1.0
26231   20244.0    1.0
33911   20244.0    1.0
38509   20244.0    1.0
44334   20244.0    1.0
46733   20244.0    1.0
52146   20244.0    1.0
...                ...
33280   12236.0    1.0
33291   12236.0    1.0
50737   12236.0    1.0
65181   12236.0    1.0
68814   12236.0    1.0
70520   12236.0    1.0
72217   12236.0    1.0
79709   12236.0    1.0
80167   12236.0    1.0
88304   12236.0    1.0
91465   12236.0    1.0
93394   12236.0    1.0
34638   10363.0    1.0
74724   10363.0    1.0
92416   10363.0    1.0
35666   11710.0    1.0
38767   11710.0    1.0
63516   11710.0    1.0
39234   16678.0    1.0
56588   16678.0    1.0
42821   1231.0     1.0
54363   19504.0    1.0
57415   10171.0    1.0
66932   16208.0    1.0
68416   4271.0     1.0
71097   23941.0    1.0
84230   23941.0    1.0
75006   12418.0    1.0
76262   11372.0    1.0
80643   4925.0     1.0

[303 rows x 1 columns]

In [110]:
action02_label_pos.groupby(action02_label_pos.index.get_level_values(1))["label"].count()\
    .to_frame().sort_values("label",ascending=False)
action02_label1["ind"] = action02_label1.index

        label
sku_id
154636     91
63006      61
12564      57
131300     51
149641     49
31662      40
151327     38
166354     32
166707     32
32465      30
97025      30
57018      27
24371      27
52343      27
79520      27
21147      27
5505       26
142477     26
68767      23
75877      23
138778     22
164258     20
5825       20
18412      20
126146     19
44854      18
79636      17
153395     17
69209      17
116489     17
...       ...
116090      1
116296      1
119111      1
119934      1
93490       1
93295       1
93180       1
92909       1
68565       1
69707       1
72767       1
72771       1
73136       1
73398       1
75489       1
77447       1
77571       1
78797       1
79113       1
80927       1
83048       1
83144       1
83182       1
83384       1
84509       1
84938       1
88257       1
89329       1
91827       1
170959      1

[329 rows x 1 columns]

In [43]:
product_train = product.sample(5000,replace=True)
product_train.reset_index(inplace=True)
user_train = user.sample(5000,replace=True)
user_train.reset_index(inplace=True)
train_pair = product_train.join(user_train,lsuffix="_prod")
train_pair.set_index(["user_id","sku_id"],inplace=True)
train_pair = train_pair.join(action02_label_pos)
train_pair["label"].fillna(0.0,inplace=True)
action02_label_neg = train_pair[train_pair["label"]==0]["label"].to_frame()
action02_label_neg

                label
user_id sku_id
86307   140491    0.0
23021   119590    0.0
52480   21623     0.0
12016   83850     0.0
67734   164215    0.0
99096   93079     0.0
44372   142857    0.0
94950   17942     0.0
67875   16543     0.0
96713   113446    0.0
86862   94522     0.0
25123   134990    0.0
98264   55444     0.0
39772   138144    0.0
10815   139506    0.0
44373   166438    0.0
84281   151275    0.0
90295   114830    0.0
91186   123538    0.0
49759   105397    0.0
95494   104672    0.0
9134    83589     0.0
102757  168116    0.0
38029   144267    0.0
82402   21996     0.0
96865   12579     0.0
50591   163215    0.0
46203   122121    0.0
73383   937       0.0
38498   104272    0.0
...               ...
62240   135604    0.0
95146   125185    0.0
11579   116328    0.0
83976   126535    0.0
70873   64711     0.0
92037   127804    0.0
29263   124884    0.0
10440   148498    0.0
99925   38949     0.0
95698   155525    0.0
87661   105756    0.0
85490   119885    0.0
52957   13671     0.0
46669   6194      0.0
80810   51662     0.0
43799   124856    0.0
92984   135182    0.0
11512   731       0.0
53554   14607     0.0
99169   27833     0.0
64128   117356    0.0
3678    151643    0.0
8347    122390    0.0
10222   152782    0.0
61808   135117    0.0
88833   107995    0.0
68728   37205     0.0
88951   10271     0.0
101889  44564     0.0
4486    149860    0.0

[5000 rows x 1 columns]

In [8]:
import os

In [9]:
os.getcwd()

'/home/zyc/kaggle/jdata/src'